body {
    margin: 0;
}

.generic-screen-body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container {
    flex: 0 1 auto;
}

.main-container {
    flex: 1 1 auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    flex: 0 1 auto;
}
